/* Generated verbatim using OpenCode 03e67171 token resolvers. */
:root:where(:has(.opencode-timeline[data-color-scheme="light"])) .agent-scroll {
  color-scheme: light;
  --text-mix-blend-mode: multiply;
  --background-base: #f8f8f8;
  --background-weak: #ededed;
  --background-strong: #f8f8f8;
  --background-stronger: #fcfcfc;
  --surface-base: #F8F8F8;
  --base: #ebebeb;
  --surface-base-hover: #0000000A;
  --surface-base-active: #e2e2e2;
  --surface-base-interactive-active: rgba(237, 243, 254, 0.3);
  --base2: #ebebeb;
  --base3: #ebebeb;
  --surface-inset-base: #ebebeb;
  --surface-inset-base-hover: #e2e2e2;
  --surface-inset-strong: rgba(230, 230, 230, 0.09);
  --surface-inset-strong-hover: rgba(230, 230, 230, 0.09);
  --surface-raised-base: #F3F3F3;
  --surface-float-base: #1d1917;
  --surface-float-base-hover: #3b3735;
  --surface-raised-base-hover: #EDEDED;
  --surface-raised-base-active: #e2e2e2;
  --surface-raised-strong: #f8f8f8;
  --surface-raised-strong-hover: #ffffff;
  --surface-raised-stronger: #ffffff;
  --surface-raised-stronger-hover: #ffffff;
  --surface-weak: #e2e2e2;
  --surface-weaker: #d8d8d7;
  --surface-strong: #ffffff;
  --surface-raised-stronger-non-alpha: #ffffff;
  --surface-brand-base: #dddf79;
  --surface-brand-hover: #d2d369;
  --surface-interactive-base: #d2e1fd;
  --surface-interactive-hover: #bfd3fc;
  --surface-interactive-weak: #F5FAFF;
  --surface-interactive-weak-hover: #d2e1fd;
  --surface-success-base: #E6FFE5;
  --surface-success-weak: #bbffb4;
  --surface-success-strong: #197414;
  --surface-warning-base: #fce05a;
  --surface-warning-weak: #feeb92;
  --surface-warning-strong: #6f6015;
  --surface-critical-base: #FFF2F0;
  --surface-critical-weak: #fde3de;
  --surface-critical-strong: #af210d;
  --surface-info-base: #fbcffe;
  --surface-info-weak: #fcdffe;
  --surface-info-strong: #912a9a;
  --surface-diff-unchanged-base: #ffffff00;
  --surface-diff-skip-base: #f2f2f2;
  --surface-diff-hidden-base: #e5e9f2;
  --surface-diff-hidden-weak: #ebeef4;
  --surface-diff-hidden-weaker: #dfe4f0;
  --surface-diff-hidden-strong: #d2dbec;
  --surface-diff-hidden-stronger: #bfcce7;
  --surface-diff-add-base: #d9ffd6;
  --surface-diff-add-weak: #efffee;
  --surface-diff-add-weaker: #f9fff8;
  --surface-diff-add-strong: #b0f5ab;
  --surface-diff-add-stronger: #8ff78a;
  --surface-diff-delete-base: #feeeeb;
  --surface-diff-delete-weak: #fef8f6;
  --surface-diff-delete-weaker: #fffcfb;
  --surface-diff-delete-strong: #fec2b6;
  --surface-diff-delete-stronger: #fb543c;
  --input-base: #f8f8f8;
  --input-hover: #f2f2f2;
  --input-active: #fcfdff;
  --input-selected: #e0eafd;
  --input-focus: #fcfdff;
  --input-disabled: #e6e6e6;
  --text-base: #6F6F6F;
  --text-weak: #8F8F8F;
  --text-weaker: #C7C7C7;
  --text-strong: #171717;
  --text-invert-base: #f2f2f2;
  --text-invert-weak: #ededed;
  --text-invert-weaker: #e6e6e6;
  --text-invert-strong: #f8f8f8;
  --text-interactive-base: #0445e6;
  --text-on-brand-base: #000000;
  --text-on-interactive-base: #000000;
  --text-on-interactive-weak: #000000;
  --text-on-success-base: #000000;
  --text-on-critical-base: #000000;
  --text-on-critical-weak: #000000;
  --text-on-critical-strong: #ffffff;
  --text-on-warning-base: #000000;
  --text-on-info-base: #000000;
  --text-diff-add-base: var(--v2-state-fg-success);
  --text-diff-delete-base: var(--v2-state-fg-danger);
  --text-diff-delete-strong: #4c0903;
  --text-diff-add-strong: #053005;
  --text-on-info-weak: #000000;
  --text-on-info-strong: #ffffff;
  --text-on-warning-weak: #000000;
  --text-on-warning-strong: #ffffff;
  --text-on-success-weak: #000000;
  --text-on-success-strong: #ffffff;
  --text-on-brand-weak: #000000;
  --text-on-brand-weaker: #000000;
  --text-on-brand-strong: #000000;
  --button-primary-base: #1d1917;
  --button-secondary-base: #f8f8f8;
  --button-secondary-hover: #f2f2f2;
  --button-ghost-hover: #ebebeb;
  --button-ghost-hover2: #e2e2e2;
  --border-base: #c1c0c0;
  --border-hover: #b4b2b2;
  --border-active: #a6a5a4;
  --border-selected: rgba(5, 77, 253, 0.99);
  --border-disabled: #cac9c9;
  --border-focus: #a6a5a4;
  --border-weak-base: #DBDBDB;
  --border-strong-base: #a6a5a4;
  --border-strong-hover: #999796;
  --border-strong-active: #8b8988;
  --border-strong-selected: rgba(191, 211, 252, 0.6);
  --border-strong-disabled: #d3d2d2;
  --border-strong-focus: #8b8988;
  --border-weak-hover: #cfcecd;
  --border-weak-active: #c1c0c0;
  --border-weak-selected: rgba(210, 225, 253, 0.5);
  --border-weak-disabled: #e1e0e0;
  --border-weak-focus: #c1c0c0;
  --border-weaker-base: #E8E8E8;
  --border-interactive-base: #a3c1fd;
  --border-interactive-hover: #83aaf7;
  --border-interactive-active: #054dfd;
  --border-interactive-selected: #054dfd;
  --border-interactive-disabled: #adacab;
  --border-interactive-focus: #054dfd;
  --border-success-base: #2ce822;
  --border-success-hover: #35cc2d;
  --border-success-selected: #1ac90f;
  --border-warning-base: #dec025;
  --border-warning-hover: #c3aa2e;
  --border-warning-selected: #ffdc20;
  --border-critical-base: #faaa9b;
  --border-critical-hover: #ff806a;
  --border-critical-selected: #fb543c;
  --border-info-base: #f39cf9;
  --border-info-hover: #e37ceb;
  --border-info-selected: #b045b9;
  --border-color: #ffffff;
  --icon-base: #8F8F8F;
  --icon-hover: #161210;
  --icon-active: #070504;
  --icon-selected: #070504;
  --icon-disabled: #adacab;
  --icon-focus: #070504;
  --icon-invert-base: #ffffff;
  --icon-weak-base: #C7C7C7;
  --icon-weak-hover: #adacab;
  --icon-weak-active: #8d8b89;
  --icon-weak-selected: #656260;
  --icon-weak-disabled: #d2d2d1;
  --icon-weak-focus: #8d8b89;
  --icon-strong-base: #1d1917;
  --icon-strong-hover: #151313;
  --icon-strong-active: #020202;
  --icon-strong-selected: #020202;
  --icon-strong-disabled: #adacab;
  --icon-strong-focus: #020202;
  --icon-brand-base: #1d1917;
  --icon-interactive-base: #054dfd;
  --icon-success-base: #0ABE00;
  --icon-success-hover: #21bb19;
  --icon-success-active: #197414;
  --icon-warning-base: #f9b13f;
  --icon-warning-hover: #f1a620;
  --icon-warning-active: #805711;
  --icon-critical-base: #fa3012;
  --icon-critical-hover: #fa3012;
  --icon-critical-active: #af210d;
  --icon-info-base: #f39cf9;
  --icon-info-hover: #e37ceb;
  --icon-info-active: #912a9a;
  --icon-on-brand-base: #000000;
  --icon-on-brand-hover: #000000;
  --icon-on-brand-selected: #000000;
  --icon-on-interactive-base: #000000;
  --icon-agent-plan-base: #b045b9;
  --icon-agent-docs-base: #fbb23c;
  --icon-agent-ask-base: #2390f4;
  --icon-agent-build-base: #054dfd;
  --icon-on-success-base: #000000;
  --icon-on-success-hover: #ffffff;
  --icon-on-success-selected: #ffffff;
  --icon-on-warning-base: #000000;
  --icon-on-warning-hover: #ffffff;
  --icon-on-warning-selected: #ffffff;
  --icon-on-critical-base: #000000;
  --icon-on-critical-hover: #ffffff;
  --icon-on-critical-selected: #ffffff;
  --icon-on-info-base: #000000;
  --icon-on-info-hover: #ffffff;
  --icon-on-info-selected: #ffffff;
  --icon-diff-add-base: #167517;
  --icon-diff-add-hover: #053005;
  --icon-diff-add-active: #053005;
  --icon-diff-delete-base: #fa3012;
  --icon-diff-delete-hover: #af210d;
  --icon-diff-modified-base: #675912;
  --syntax-comment: var(--v2-text-text-muted);
  --syntax-regexp: var(--text-base);
  --syntax-string: var(--v2-green-800);
  --syntax-keyword: var(--v2-pink-800);
  --syntax-primitive: var(--v2-pink-800);
  --syntax-operator: var(--text-base);
  --syntax-variable: var(--text-strong);
  --syntax-property: var(--v2-orange-800);
  --syntax-type: var(--v2-purple-800);
  --syntax-constant: #007b80;
  --syntax-punctuation: var(--text-base);
  --syntax-object: var(--text-strong);
  --syntax-success: #197414;
  --syntax-warning: #805711;
  --syntax-critical: var(--v2-red-800);
  --syntax-info: #8c1896;
  --syntax-diff-add: var(--v2-state-fg-success);
  --syntax-diff-delete: var(--v2-state-fg-danger);
  --syntax-diff-unknown: #a753ae;
  --markdown-heading: #5e5e11;
  --markdown-text: #6F6F6F;
  --markdown-link: #0040df;
  --markdown-link-text: #8c1896;
  --markdown-code: #166c11;
  --markdown-block-quote: #675912;
  --markdown-emph: #675912;
  --markdown-strong: #8c1896;
  --markdown-horizontal-rule: #c1c0c0;
  --markdown-list-item: #0040df;
  --markdown-list-enumeration: #8c1896;
  --markdown-image: #0040df;
  --markdown-image-text: #8c1896;
  --markdown-code-block: #6F6F6F;
  --avatar-background-pink: #feeef8;
  --avatar-background-mint: #e1fbf4;
  --avatar-background-orange: #fff1e7;
  --avatar-background-purple: #f9f1fe;
  --avatar-background-cyan: #e7f9fb;
  --avatar-background-lime: #eefadc;
  --avatar-text-pink: #cd1d8d;
  --avatar-text-mint: #147d6f;
  --avatar-text-orange: #ed5f00;
  --avatar-text-purple: #8445bc;
  --avatar-text-cyan: #0894b3;
  --avatar-text-lime: #5d770d;
  --text-stronger: #171717;
  --v2-grey-50: #ffffffff;
  --v2-grey-100: #fafafaff;
  --v2-grey-200: #f2f2f2ff;
  --v2-grey-300: #eeeeeeff;
  --v2-grey-400: #dbdbdbff;
  --v2-grey-500: #aeaeaeff;
  --v2-grey-600: #808080ff;
  --v2-grey-700: #5c5c5cff;
  --v2-grey-800: #3a3a3aff;
  --v2-grey-900: #2e2e2eff;
  --v2-grey-1000: #242424ff;
  --v2-grey-1100: #161616ff;
  --v2-grey-1200: #080808ff;
  --v2-red-100: #fcecebff;
  --v2-red-200: #f6d5d3ff;
  --v2-red-300: #f2bbb7ff;
  --v2-red-400: #f29b96ff;
  --v2-red-500: #f17471ff;
  --v2-red-600: #f1484fff;
  --v2-red-700: #d92e3cff;
  --v2-red-800: #b82d35ff;
  --v2-red-900: #97252bff;
  --v2-red-1000: #7a1f23ff;
  --v2-red-1100: #5f1a1cff;
  --v2-red-1200: #461516ff;
  --v2-orange-100: #fdf2edff;
  --v2-orange-200: #ffe7dcff;
  --v2-orange-300: #ffd8c6ff;
  --v2-orange-400: #ffc1a4ff;
  --v2-orange-500: #ffa478ff;
  --v2-orange-600: #ff8648ff;
  --v2-orange-700: #ee7330ff;
  --v2-orange-800: #d16427ff;
  --v2-orange-900: #b35624ff;
  --v2-orange-1000: #954c27ff;
  --v2-orange-1100: #723d22ff;
  --v2-orange-1200: #5a2c14ff;
  --v2-yellow-100: #fefaecff;
  --v2-yellow-200: #fcefd0ff;
  --v2-yellow-300: #f7e5b5ff;
  --v2-yellow-400: #f3da9bff;
  --v2-yellow-500: #f2cf76ff;
  --v2-yellow-600: #f6c251ff;
  --v2-yellow-700: #e7af36ff;
  --v2-yellow-800: #cb9f34ff;
  --v2-yellow-900: #ac8833ff;
  --v2-yellow-1000: #8e7231ff;
  --v2-yellow-1100: #68552bff;
  --v2-yellow-1200: #4b4025ff;
  --v2-green-100: #e7f9eaff;
  --v2-green-200: #d0f0d5ff;
  --v2-green-300: #b8e9c1ff;
  --v2-green-400: #96e3a6ff;
  --v2-green-500: #6bd586ff;
  --v2-green-600: #49c970ff;
  --v2-green-700: #2eaf5aff;
  --v2-green-800: #198b43ff;
  --v2-green-900: #1d783cff;
  --v2-green-1000: #196130ff;
  --v2-green-1100: #164c26ff;
  --v2-green-1200: #14361dff;
  --v2-cyan-100: #e2f7fbff;
  --v2-cyan-200: #c4edf4ff;
  --v2-cyan-300: #a3e4efff;
  --v2-cyan-400: #65d9ebff;
  --v2-cyan-500: #00c5dfff;
  --v2-cyan-600: #00abcfff;
  --v2-cyan-700: #0096b8ff;
  --v2-cyan-800: #007d9bff;
  --v2-cyan-900: #006c85ff;
  --v2-cyan-1000: #005a6eff;
  --v2-cyan-1100: #004756ff;
  --v2-cyan-1200: #00353fff;
  --v2-blue-100: #ecf1feff;
  --v2-blue-200: #d7e2fcff;
  --v2-blue-300: #c3d4fdff;
  --v2-blue-400: #a2bcffff;
  --v2-blue-500: #7698fdff;
  --v2-blue-600: #3b5cf6ff;
  --v2-blue-700: #3250dfff;
  --v2-blue-800: #2c47c8ff;
  --v2-blue-900: #263fa9ff;
  --v2-blue-1000: #22388fff;
  --v2-blue-1100: #1c2e70ff;
  --v2-blue-1200: #1b2852ff;
  --v2-purple-100: #ebecfeff;
  --v2-purple-200: #d5d5fcff;
  --v2-purple-300: #b9b8f5ff;
  --v2-purple-400: #9e99f7ff;
  --v2-purple-500: #8271f8ff;
  --v2-purple-600: #7152f4ff;
  --v2-purple-700: #623be2ff;
  --v2-purple-800: #5230c2ff;
  --v2-purple-900: #442aa1ff;
  --v2-purple-1000: #361f83ff;
  --v2-purple-1100: #2b1b6aff;
  --v2-purple-1200: #221358ff;
  --v2-pink-100: #fdecf3ff;
  --v2-pink-200: #f7d5e4ff;
  --v2-pink-300: #fabcd8ff;
  --v2-pink-400: #f799c6ff;
  --v2-pink-500: #f26cb2ff;
  --v2-pink-600: #f64aabff;
  --v2-pink-700: #e4429eff;
  --v2-pink-800: #c83d8bff;
  --v2-pink-900: #aa3576ff;
  --v2-pink-1000: #8c2d61ff;
  --v2-pink-1100: #6f284fff;
  --v2-pink-1200: #5c1d3fff;
  --v2-background-bg-base: var(--v2-grey-50);
  --v2-background-bg-deep: var(--v2-grey-100);
  --v2-background-bg-layer-01: var(--v2-grey-100);
  --v2-background-bg-layer-02: var(--v2-grey-200);
  --v2-background-bg-layer-03: var(--v2-grey-300);
  --v2-background-bg-layer-04: var(--v2-grey-400);
  --v2-background-bg-inverse: var(--v2-grey-1100);
  --v2-background-bg-contrast: var(--v2-grey-1000);
  --v2-background-bg-button-neutral: var(--v2-grey-50);
  --v2-background-bg-accent: var(--v2-blue-600);
  --v2-text-text-inverse: var(--v2-grey-50);
  --v2-text-text-contrast: var(--v2-grey-50);
  --v2-text-text-accent: var(--v2-blue-600);
  --v2-text-text-accent-hover: var(--v2-blue-700);
  --v2-text-text-code-accent: var(--v2-blue-900);
  --v2-border-border-muted: var(--v2-alpha-dark-8);
  --v2-border-border-base: var(--v2-alpha-dark-10);
  --v2-border-border-strong: var(--v2-alpha-dark-20);
  --v2-border-border-inverse: var(--v2-grey-1000);
  --v2-border-border-focus: var(--v2-blue-500);
  --v2-overlay-simple-overlay-hover: var(--v2-alpha-dark-4);
  --v2-overlay-simple-overlay-pressed: var(--v2-alpha-dark-8);
  --v2-overlay-simple-overlay-contrast-hover: var(--v2-alpha-light-12);
  --v2-overlay-simple-overlay-contrast-pressed: var(--v2-alpha-light-24);
  --v2-overlay-simple-overlay-scrim: var(--v2-alpha-dark-40);
  --v2-overlay-gradient-depth-overlay-depth-top: var(--v2-alpha-light-100);
  --v2-overlay-gradient-depth-overlay-depth-bot: var(--v2-alpha-light-0);
  --v2-overlay-simple-tab-active-scrim: #fafafa00;
  --v2-overlay-simple-tab-hover-scrim: #eeeeee00;
  --v2-overlay-simple-tab-scrim: #fafafa00;
  --v2-state-bg-success: var(--v2-green-100);
  --v2-state-fg-success: var(--v2-green-800);
  --v2-state-border-success: var(--v2-green-300);
  --v2-state-bg-warning: var(--v2-yellow-100);
  --v2-state-fg-warning: var(--v2-yellow-800);
  --v2-state-border-warning: var(--v2-yellow-300);
  --v2-state-bg-danger: var(--v2-red-100);
  --v2-state-fg-danger: var(--v2-red-800);
  --v2-state-border-danger: var(--v2-red-300);
  --v2-state-bg-info: var(--v2-blue-100);
  --v2-state-fg-info: var(--v2-blue-800);
  --v2-state-border-info: var(--v2-blue-300);
  --v2-agent-plan-solid: var(--v2-pink-800);
  --v2-agent-plan-border: rgba(200, 61, 139, 0.20);
  --v2-agent-plan-background: rgba(253, 236, 243, 0.10);
  --v2-agent-build-solid: var(--v2-blue-800);
  --v2-agent-build-border: rgba(44, 71, 200, 0.20);
  --v2-agent-build-background: rgba(236, 241, 254, 0.10);
  --v2-agent-explore-solid: var(--v2-yellow-900);
  --v2-agent-explore-border: rgba(203, 159, 52, 0.20);
  --v2-agent-explore-background: rgba(254, 250, 236, 0.1);
  --v2-agent-review-solid: var(--v2-green-800);
  --v2-agent-writer-solid: var(--v2-purple-700);
  --v2-avatar-fg: #ffffffff;
  --v2-avatar-bg-orange: #ee7330ff;
  --v2-avatar-border-orange: #d16427ff;
  --v2-avatar-bg-yellow: #e7af36ff;
  --v2-avatar-border-yellow: #cb9f34ff;
  --v2-avatar-bg-cyan: #0096b8ff;
  --v2-avatar-border-cyan: #007d9bff;
  --v2-avatar-bg-green: #2eaf5aff;
  --v2-avatar-border-green: #198b43ff;
  --v2-avatar-bg-red: #d92e3cff;
  --v2-avatar-border-red: #b82d35ff;
  --v2-avatar-bg-pink: #e4429eff;
  --v2-avatar-border-pink: #c83d8bff;
  --v2-avatar-bg-blue: #3250dfff;
  --v2-avatar-border-blue: #2c47c8ff;
  --v2-avatar-bg-purple: #623be2ff;
  --v2-avatar-border-purple: #5230c2ff;
  --v2-avatar-bg-gray: #5c5c5cff;
  --v2-avatar-border-gray: #3a3a3aff;
  --v2-elevation-raised: 0px 2px 4px 0px var(--v2-alpha-dark-4), 0px 1px 2px -1px var(--v2-alpha-dark-8), 0px 0px 0px 0.5px var(--v2-alpha-dark-12), 0px 0px 0px 0px var(--v2-alpha-dark-0);
  --v2-elevation-floating: 0px 8px 16px 0px var(--v2-alpha-dark-4), 0px 4px 8px 0px var(--v2-alpha-dark-8), 0px 0px 0px 0.5px var(--v2-alpha-dark-12), 0px 0px 0px 0px var(--v2-alpha-dark-0);
  --v2-elevation-overlay: 0px 16px 32px 0px var(--v2-alpha-dark-4), 0px 8px 16px 0px var(--v2-alpha-dark-8), 0px 0px 0px 0.5px var(--v2-alpha-dark-12), 0px 0px 0px 0px var(--v2-alpha-dark-0);
  --v2-elevation-button-neutral: 0px 1px 1.5px 0px var(--v2-alpha-dark-10), 0px 0px 0px 0.5px var(--v2-alpha-dark-14), 0px 0px 0px 0px var(--v2-alpha-dark-0);
  --v2-elevation-button-contrast: 0px 1px 1.5px 0px var(--v2-alpha-dark-20), 0px 0px 0px 0.5px var(--v2-grey-800), inset 0px 1px 2px 0px var(--v2-alpha-light-14), inset 0px -1px 2px 0px var(--v2-alpha-dark-6), 0px 0px 0px 0px var(--v2-alpha-dark-0);
  --v2-elevation-elements: 0px 0.5px 0.5px 0px var(--v2-alpha-dark-40);
  --v2-elevation-switch-off: inset 0px 1px 1px 0px var(--v2-alpha-dark-8), inset 0px 0.5px 0.5px 0px var(--v2-alpha-dark-8), inset 0px 0px 0px 0.5px var(--v2-alpha-dark-10);
  --v2-elevation-switch-on: inset 0px 2px 2px 0px var(--v2-alpha-dark-10), inset 0px 1px 1px 0px var(--v2-alpha-dark-10), inset 0px 0px 0px 0.5px var(--v2-alpha-dark-20);
  --v2-illustration-illustration-layer-01: var(--v2-grey-300);
  --v2-illustration-illustration-layer-02: var(--v2-grey-400);
  --v2-illustration-illustration-layer-03: var(--v2-grey-500);
  --v2-text-text-base: var(--v2-grey-1100);
  --v2-text-text-muted: var(--v2-grey-700);
  --v2-text-text-faint: var(--v2-grey-600);
  --v2-icon-icon-base: var(--v2-grey-800);
  --v2-icon-icon-muted: var(--v2-grey-600);
  --v2-icon-icon-inverse: var(--v2-grey-50);
  --v2-icon-icon-contrast: var(--v2-grey-100);
  --v2-icon-icon-accent: var(--v2-blue-600);
  --v2-icon-icon-accent-hover: var(--v2-blue-700);
}

:root:where(:not(:has(.opencode-timeline[data-color-scheme="light"]))) .agent-scroll {
  color-scheme: dark;
  --text-mix-blend-mode: plus-lighter;
  --background-base: #121212;
  --background-weak: #191919;
  --background-strong: #121212;
  --background-stronger: #151515;
  --surface-base: #1C1C1C;
  --base: #202020;
  --surface-base-hover: #FFFFFF0D;
  --surface-base-active: #282727;
  --surface-base-interactive-active: rgba(1, 9, 49, 0.3);
  --base2: #202020;
  --base3: #202020;
  --surface-inset-base: #202020;
  --surface-inset-base-hover: #282727;
  --surface-inset-strong: rgba(18, 18, 18, 0.5);
  --surface-inset-strong-hover: rgba(18, 18, 18, 0.5);
  --surface-raised-base: #232323;
  --surface-float-base: #151515;
  --surface-float-base-hover: #191919;
  --surface-raised-base-hover: #282828;
  --surface-raised-base-active: #282727;
  --surface-raised-strong: #313030;
  --surface-raised-strong-hover: #494847;
  --surface-raised-stronger: #494847;
  --surface-raised-stronger-hover: #5b5958;
  --surface-weak: #282727;
  --surface-weaker: #313030;
  --surface-strong: #5b5958;
  --surface-raised-stronger-non-alpha: #191919;
  --surface-brand-base: #e27618;
  --surface-brand-hover: #f88524;
  --surface-interactive-base: #022fa6;
  --surface-interactive-hover: #0643da;
  --surface-interactive-weak: #0D172B;
  --surface-interactive-weak-hover: #022fa6;
  --surface-success-base: #022B00;
  --surface-success-weak: #083a05;
  --surface-success-strong: #25ff18;
  --surface-warning-base: #4e410b;
  --surface-warning-weak: #382e05;
  --surface-warning-strong: #ffe179;
  --surface-critical-base: #1F0603;
  --surface-critical-weak: #5a0c03;
  --surface-critical-strong: #fec3b8;
  --surface-info-base: #651b6c;
  --surface-info-weak: #4d0853;
  --surface-info-strong: #fabbff;
  --surface-diff-unchanged-base: #121212;
  --surface-diff-skip-base: #1a1a1a;
  --surface-diff-hidden-base: #181d2a;
  --surface-diff-hidden-weak: #151820;
  --surface-diff-hidden-weaker: #192131;
  --surface-diff-hidden-strong: #1c273e;
  --surface-diff-hidden-stronger: #23345a;
  --surface-diff-add-base: #001401;
  --surface-diff-add-weak: #011d02;
  --surface-diff-add-weaker: #001401;
  --surface-diff-add-strong: #012902;
  --surface-diff-add-stronger: #c4ffc0;
  --surface-diff-delete-base: #240200;
  --surface-diff-delete-weak: #310401;
  --surface-diff-delete-weaker: #240200;
  --surface-diff-delete-strong: #430501;
  --surface-diff-delete-stronger: #fec3b8;
  --input-base: #151515;
  --input-hover: #191919;
  --input-active: #022fa6;
  --input-selected: #0643da;
  --input-focus: #022fa6;
  --input-disabled: #1d1d1d;
  --text-base: #A0A0A0;
  --text-weak: #707070;
  --text-weaker: #505050;
  --text-strong: #EDEDED;
  --text-invert-base: #c9c6c2;
  --text-invert-weak: #6e6c6a;
  --text-invert-weaker: #4d4d4b;
  --text-invert-strong: #ede8e4;
  --text-interactive-base: #c0d4fb;
  --text-on-brand-base: #000000;
  --text-on-interactive-base: #ffffff;
  --text-on-interactive-weak: #ffffff;
  --text-on-success-base: #ffffff;
  --text-on-critical-base: #ffffff;
  --text-on-critical-weak: #ffffff;
  --text-on-critical-strong: #000000;
  --text-on-warning-base: #ffffff;
  --text-on-info-base: #ffffff;
  --text-diff-add-base: var(--v2-state-fg-success);
  --text-diff-delete-base: var(--v2-state-fg-danger);
  --text-diff-delete-strong: #fafafa;
  --text-diff-add-strong: #176d18;
  --text-on-info-weak: #ffffff;
  --text-on-info-strong: #000000;
  --text-on-warning-weak: #ffffff;
  --text-on-warning-strong: #000000;
  --text-on-success-weak: #ffffff;
  --text-on-success-strong: #000000;
  --text-on-brand-weak: #000000;
  --text-on-brand-weaker: #000000;
  --text-on-brand-strong: #000000;
  --button-primary-base: #ede8e4;
  --button-secondary-base: #191919;
  --button-secondary-hover: #1d1d1d;
  --button-ghost-hover: #202020;
  --button-ghost-hover2: #282727;
  --border-base: #4d4c4a;
  --border-hover: #565453;
  --border-active: #5f5d5c;
  --border-selected: rgba(20, 86, 247, 0.9);
  --border-disabled: #444342;
  --border-focus: #5f5d5c;
  --border-weak-base: #282828;
  --border-strong-base: #5f5d5c;
  --border-strong-hover: #686664;
  --border-strong-active: #716e6d;
  --border-strong-selected: rgba(0, 32, 125, 0.6);
  --border-strong-disabled: #3f3e3e;
  --border-strong-focus: #716e6d;
  --border-weak-hover: #444342;
  --border-weak-active: #4d4c4a;
  --border-weak-selected: rgba(2, 24, 88, 0.6);
  --border-weak-disabled: #373635;
  --border-weak-focus: #4d4c4a;
  --border-weaker-base: #232323;
  --border-interactive-base: #022fa6;
  --border-interactive-hover: #0643da;
  --border-interactive-active: #1456f7;
  --border-interactive-selected: #1456f7;
  --border-interactive-disabled: #4d4d4b;
  --border-interactive-focus: #1456f7;
  --border-success-base: #10500d;
  --border-success-hover: #096e05;
  --border-success-selected: #089b00;
  --border-warning-base: #4e410b;
  --border-warning-hover: #6c5903;
  --border-warning-selected: #bc9d1e;
  --border-critical-base: #7a1608;
  --border-critical-hover: #a22413;
  --border-critical-selected: #cb321c;
  --border-info-base: #651b6c;
  --border-info-hover: #83328b;
  --border-info-selected: #cd73d5;
  --border-color: #ffffff;
  --icon-base: #7E7E7E;
  --icon-hover: #c9c6c2;
  --icon-active: #ede8e4;
  --icon-selected: #ede8e4;
  --icon-disabled: #393938;
  --icon-focus: #ede8e4;
  --icon-invert-base: #121212;
  --icon-weak-base: #343434;
  --icon-weak-hover: #ede8e4;
  --icon-weak-active: #6e6c6a;
  --icon-weak-selected: #6e6c6a;
  --icon-weak-disabled: #1d1d1d;
  --icon-weak-focus: #6e6c6a;
  --icon-strong-base: #ede8e4;
  --icon-strong-hover: #f6f3f3;
  --icon-strong-active: #fcfcfc;
  --icon-strong-selected: #fdfcfc;
  --icon-strong-disabled: #4d4d4b;
  --icon-strong-focus: #fdfcfc;
  --icon-brand-base: #ffffff;
  --icon-interactive-base: #1456f7;
  --icon-success-base: #089b00;
  --icon-success-hover: #18ab10;
  --icon-success-active: #25ff18;
  --icon-warning-base: #c78b05;
  --icon-warning-hover: #db9b18;
  --icon-warning-active: #ffca76;
  --icon-critical-base: #cb321c;
  --icon-critical-hover: #ec2f14;
  --icon-critical-active: #fec3b8;
  --icon-info-base: #cd73d5;
  --icon-info-hover: #e282ea;
  --icon-info-active: #fabbff;
  --icon-on-brand-base: #000000;
  --icon-on-brand-hover: #000000;
  --icon-on-brand-selected: #000000;
  --icon-on-interactive-base: #ffffff;
  --icon-agent-plan-base: #cd73d5;
  --icon-agent-docs-base: #c78b05;
  --icon-agent-ask-base: #156ebe;
  --icon-agent-build-base: #c0d4fb;
  --icon-on-success-base: #ffffff;
  --icon-on-success-hover: #000000;
  --icon-on-success-selected: #000000;
  --icon-on-warning-base: #ffffff;
  --icon-on-warning-hover: #000000;
  --icon-on-warning-selected: #000000;
  --icon-on-critical-base: #ffffff;
  --icon-on-critical-hover: #000000;
  --icon-on-critical-selected: #000000;
  --icon-on-info-base: #ffffff;
  --icon-on-info-hover: #000000;
  --icon-on-info-selected: #000000;
  --icon-diff-add-base: #c4ffc0;
  --icon-diff-add-hover: #78d474;
  --icon-diff-add-active: #c4ffc0;
  --icon-diff-delete-base: #ec2f14;
  --icon-diff-delete-hover: #fec3b8;
  --icon-diff-modified-base: #fde280;
  --syntax-comment: var(--v2-text-text-muted);
  --syntax-regexp: var(--text-base);
  --syntax-string: var(--v2-green-400);
  --syntax-keyword: var(--v2-pink-400);
  --syntax-primitive: var(--v2-pink-400);
  --syntax-operator: var(--text-weak);
  --syntax-variable: var(--text-strong);
  --syntax-property: var(--v2-orange-400);
  --syntax-type: var(--v2-purple-400);
  --syntax-constant: #93e9f6;
  --syntax-punctuation: var(--text-weak);
  --syntax-object: var(--text-strong);
  --syntax-success: #25ff18;
  --syntax-warning: #ffca76;
  --syntax-critical: var(--v2-red-400);
  --syntax-info: #facffe;
  --syntax-diff-add: var(--v2-state-fg-success);
  --syntax-diff-delete: var(--v2-state-fg-danger);
  --syntax-diff-unknown: #edb2f1;
  --markdown-heading: #fed6bd;
  --markdown-text: #A0A0A0;
  --markdown-link: #cfdffd;
  --markdown-link-text: #facffe;
  --markdown-code: #94fd8b;
  --markdown-block-quote: #fde280;
  --markdown-emph: #fde280;
  --markdown-strong: #facffe;
  --markdown-horizontal-rule: #4d4c4a;
  --markdown-list-item: #cfdffd;
  --markdown-list-enumeration: #facffe;
  --markdown-image: #cfdffd;
  --markdown-image-text: #facffe;
  --markdown-code-block: #A0A0A0;
  --avatar-background-pink: #501b3f;
  --avatar-background-mint: #033a34;
  --avatar-background-orange: #5f2a06;
  --avatar-background-purple: #432155;
  --avatar-background-cyan: #0f3058;
  --avatar-background-lime: #2b3711;
  --avatar-text-pink: #e34ba9;
  --avatar-text-mint: #95f3d9;
  --avatar-text-orange: #ff802b;
  --avatar-text-purple: #9d5bd2;
  --avatar-text-cyan: #369eff;
  --avatar-text-lime: #c4f042;
  --text-stronger: #EDEDED;
  --v2-grey-50: #ffffffff;
  --v2-grey-100: #fafafaff;
  --v2-grey-200: #f2f2f2ff;
  --v2-grey-300: #eeeeeeff;
  --v2-grey-400: #dbdbdbff;
  --v2-grey-500: #aeaeaeff;
  --v2-grey-600: #808080ff;
  --v2-grey-700: #5c5c5cff;
  --v2-grey-800: #3a3a3aff;
  --v2-grey-900: #2e2e2eff;
  --v2-grey-1000: #242424ff;
  --v2-grey-1100: #161616ff;
  --v2-grey-1200: #080808ff;
  --v2-red-100: #fcecebff;
  --v2-red-200: #f6d5d3ff;
  --v2-red-300: #f2bbb7ff;
  --v2-red-400: #f29b96ff;
  --v2-red-500: #f17471ff;
  --v2-red-600: #f1484fff;
  --v2-red-700: #d92e3cff;
  --v2-red-800: #b82d35ff;
  --v2-red-900: #97252bff;
  --v2-red-1000: #7a1f23ff;
  --v2-red-1100: #5f1a1cff;
  --v2-red-1200: #461516ff;
  --v2-orange-100: #fdf2edff;
  --v2-orange-200: #ffe7dcff;
  --v2-orange-300: #ffd8c6ff;
  --v2-orange-400: #ffc1a4ff;
  --v2-orange-500: #ffa478ff;
  --v2-orange-600: #ff8648ff;
  --v2-orange-700: #ee7330ff;
  --v2-orange-800: #d16427ff;
  --v2-orange-900: #b35624ff;
  --v2-orange-1000: #954c27ff;
  --v2-orange-1100: #723d22ff;
  --v2-orange-1200: #5a2c14ff;
  --v2-yellow-100: #fefaecff;
  --v2-yellow-200: #fcefd0ff;
  --v2-yellow-300: #f7e5b5ff;
  --v2-yellow-400: #f3da9bff;
  --v2-yellow-500: #f2cf76ff;
  --v2-yellow-600: #f6c251ff;
  --v2-yellow-700: #e7af36ff;
  --v2-yellow-800: #cb9f34ff;
  --v2-yellow-900: #ac8833ff;
  --v2-yellow-1000: #8e7231ff;
  --v2-yellow-1100: #68552bff;
  --v2-yellow-1200: #4b4025ff;
  --v2-green-100: #e7f9eaff;
  --v2-green-200: #d0f0d5ff;
  --v2-green-300: #b8e9c1ff;
  --v2-green-400: #96e3a6ff;
  --v2-green-500: #6bd586ff;
  --v2-green-600: #49c970ff;
  --v2-green-700: #2eaf5aff;
  --v2-green-800: #198b43ff;
  --v2-green-900: #1d783cff;
  --v2-green-1000: #196130ff;
  --v2-green-1100: #164c26ff;
  --v2-green-1200: #14361dff;
  --v2-cyan-100: #e2f7fbff;
  --v2-cyan-200: #c4edf4ff;
  --v2-cyan-300: #a3e4efff;
  --v2-cyan-400: #65d9ebff;
  --v2-cyan-500: #00c5dfff;
  --v2-cyan-600: #00abcfff;
  --v2-cyan-700: #0096b8ff;
  --v2-cyan-800: #007d9bff;
  --v2-cyan-900: #006c85ff;
  --v2-cyan-1000: #005a6eff;
  --v2-cyan-1100: #004756ff;
  --v2-cyan-1200: #00353fff;
  --v2-blue-100: #ecf1feff;
  --v2-blue-200: #d7e2fcff;
  --v2-blue-300: #c3d4fdff;
  --v2-blue-400: #a2bcffff;
  --v2-blue-500: #7698fdff;
  --v2-blue-600: #3b5cf6ff;
  --v2-blue-700: #3250dfff;
  --v2-blue-800: #2c47c8ff;
  --v2-blue-900: #263fa9ff;
  --v2-blue-1000: #22388fff;
  --v2-blue-1100: #1c2e70ff;
  --v2-blue-1200: #1b2852ff;
  --v2-purple-100: #ebecfeff;
  --v2-purple-200: #d5d5fcff;
  --v2-purple-300: #b9b8f5ff;
  --v2-purple-400: #9e99f7ff;
  --v2-purple-500: #8271f8ff;
  --v2-purple-600: #7152f4ff;
  --v2-purple-700: #623be2ff;
  --v2-purple-800: #5230c2ff;
  --v2-purple-900: #442aa1ff;
  --v2-purple-1000: #361f83ff;
  --v2-purple-1100: #2b1b6aff;
  --v2-purple-1200: #221358ff;
  --v2-pink-100: #fdecf3ff;
  --v2-pink-200: #f7d5e4ff;
  --v2-pink-300: #fabcd8ff;
  --v2-pink-400: #f799c6ff;
  --v2-pink-500: #f26cb2ff;
  --v2-pink-600: #f64aabff;
  --v2-pink-700: #e4429eff;
  --v2-pink-800: #c83d8bff;
  --v2-pink-900: #aa3576ff;
  --v2-pink-1000: #8c2d61ff;
  --v2-pink-1100: #6f284fff;
  --v2-pink-1200: #5c1d3fff;
  --v2-background-bg-base: var(--v2-grey-1100);
  --v2-background-bg-deep: var(--v2-grey-1200);
  --v2-background-bg-layer-01: var(--v2-grey-1000);
  --v2-background-bg-layer-02: var(--v2-grey-900);
  --v2-background-bg-layer-03: var(--v2-grey-800);
  --v2-background-bg-layer-04: var(--v2-grey-700);
  --v2-background-bg-inverse: var(--v2-grey-50);
  --v2-background-bg-contrast: var(--v2-grey-700);
  --v2-background-bg-button-neutral: var(--v2-alpha-light-6);
  --v2-background-bg-accent: var(--v2-blue-600);
  --v2-text-text-inverse: var(--v2-grey-1100);
  --v2-text-text-contrast: var(--v2-grey-50);
  --v2-text-text-accent: var(--v2-blue-400);
  --v2-text-text-accent-hover: var(--v2-blue-300);
  --v2-text-text-code-accent: var(--v2-blue-400);
  --v2-border-border-muted: var(--v2-alpha-light-8);
  --v2-border-border-base: var(--v2-alpha-light-10);
  --v2-border-border-strong: var(--v2-alpha-light-20);
  --v2-border-border-inverse: var(--v2-grey-100);
  --v2-border-border-focus: var(--v2-blue-500);
  --v2-overlay-simple-overlay-hover: var(--v2-alpha-light-6);
  --v2-overlay-simple-overlay-pressed: var(--v2-alpha-light-10);
  --v2-overlay-simple-overlay-contrast-hover: var(--v2-alpha-dark-24);
  --v2-overlay-simple-overlay-contrast-pressed: var(--v2-alpha-dark-40);
  --v2-overlay-simple-overlay-scrim: var(--v2-alpha-dark-60);
  --v2-overlay-gradient-depth-overlay-depth-top: var(--v2-alpha-light-100);
  --v2-overlay-gradient-depth-overlay-depth-bot: var(--v2-alpha-light-0);
  --v2-overlay-simple-tab-active-scrim: #24242400;
  --v2-overlay-simple-tab-hover-scrim: #3a3a3a00;
  --v2-overlay-simple-tab-scrim: #08080800;
  --v2-state-bg-success: var(--v2-green-1200);
  --v2-state-fg-success: var(--v2-green-500);
  --v2-state-border-success: var(--v2-green-900);
  --v2-state-bg-warning: var(--v2-yellow-1200);
  --v2-state-fg-warning: var(--v2-yellow-500);
  --v2-state-border-warning: var(--v2-yellow-900);
  --v2-state-bg-danger: var(--v2-red-1200);
  --v2-state-fg-danger: var(--v2-red-500);
  --v2-state-border-danger: var(--v2-red-900);
  --v2-state-bg-info: var(--v2-blue-1200);
  --v2-state-fg-info: var(--v2-blue-500);
  --v2-state-border-info: var(--v2-blue-900);
  --v2-agent-plan-solid: var(--v2-pink-400);
  --v2-agent-plan-border: rgba(247, 153, 198, 0.20);
  --v2-agent-plan-background: rgba(170, 53, 118, 0.05);
  --v2-agent-build-solid: var(--v2-blue-300);
  --v2-agent-build-border: rgba(162, 188, 255, 0.20);
  --v2-agent-build-background: rgba(38, 63, 169, 0.05);
  --v2-agent-explore-solid: var(--v2-yellow-300);
  --v2-agent-explore-border: rgba(243, 218, 155, 0.20);
  --v2-agent-explore-background: rgba(172, 136, 51, 0.05);
  --v2-agent-review-solid: var(--v2-green-300);
  --v2-agent-writer-solid: var(--v2-purple-400);
  --v2-avatar-fg: #ffffffff;
  --v2-avatar-bg-orange: #723d22ff;
  --v2-avatar-border-orange: #ff8648ff;
  --v2-avatar-bg-yellow: #68552bff;
  --v2-avatar-border-yellow: #e7af36ff;
  --v2-avatar-bg-cyan: #005a6eff;
  --v2-avatar-border-cyan: #0096b8ff;
  --v2-avatar-bg-green: #196130ff;
  --v2-avatar-border-green: #49c970ff;
  --v2-avatar-bg-red: #7a1f23ff;
  --v2-avatar-border-red: #d92e3cff;
  --v2-avatar-bg-pink: #8c2d61ff;
  --v2-avatar-border-pink: #e4429eff;
  --v2-avatar-bg-blue: #263fa9ff;
  --v2-avatar-border-blue: #7698fdff;
  --v2-avatar-bg-purple: #361f83ff;
  --v2-avatar-border-purple: #7152f4ff;
  --v2-avatar-bg-gray: #5c5c5cff;
  --v2-avatar-border-gray: #aeaeaeff;
  --v2-elevation-raised: 0px 2px 4px 0px var(--v2-alpha-dark-30), 0px 1px 2px 0px var(--v2-alpha-dark-30), 0px 0px 0px 0.5px var(--v2-alpha-light-16), 0px -0.5px 0px 0px var(--v2-alpha-light-6);
  --v2-elevation-floating: 0px 8px 16px 0px var(--v2-alpha-dark-30), 0px 4px 8px 0px var(--v2-alpha-dark-30), 0px 0px 0px 0.5px var(--v2-alpha-light-16), 0px -0.5px 0px 0px var(--v2-alpha-light-6);
  --v2-elevation-overlay: 0px 16px 32px 0px var(--v2-alpha-dark-30), 0px 8px 16px 0px var(--v2-alpha-dark-30), 0px 0px 0px 0.5px var(--v2-alpha-light-16), 0px -0.5px 0px 0px var(--v2-alpha-light-6);
  --v2-elevation-button-neutral: 0px 1px 2px 0px var(--v2-alpha-dark-40), 0px 0px 0px 0.5px var(--v2-alpha-light-20), 0px -0.5px 0px 0px var(--v2-alpha-light-10);
  --v2-elevation-button-contrast: 0px 1px 2px 0px var(--v2-alpha-dark-40), 0px 0px 0px 0.5px var(--v2-alpha-light-40), inset 0px 0px 0px 0px var(--v2-alpha-light-0), inset 0px 0px 0px 0px var(--v2-alpha-light-0), 0px -0.5px 0px 0px var(--v2-alpha-light-30);
  --v2-elevation-elements: 0px 0.5px 0.5px 0px var(--v2-alpha-dark-40);
  --v2-elevation-switch-off: inset 0px -0.5px 0px 0px var(--v2-alpha-light-10), inset 0px 0px 0px 0px var(--v2-alpha-light-0), inset 0px 0px 0px 0.5px var(--v2-alpha-light-16);
  --v2-elevation-switch-on: inset 0px -0.5px 0px 0px var(--v2-alpha-light-10), inset 0px 0px 0px 0px var(--v2-alpha-light-0), inset 0px 0px 0px 0.5px var(--v2-alpha-light-16);
  --v2-illustration-illustration-layer-01: var(--v2-grey-900);
  --v2-illustration-illustration-layer-02: var(--v2-grey-800);
  --v2-illustration-illustration-layer-03: var(--v2-grey-700);
  --v2-text-text-base: var(--v2-grey-100);
  --v2-text-text-muted: var(--v2-grey-500);
  --v2-text-text-faint: var(--v2-grey-600);
  --v2-icon-icon-base: var(--v2-grey-400);
  --v2-icon-icon-muted: var(--v2-grey-600);
  --v2-icon-icon-inverse: var(--v2-grey-1100);
  --v2-icon-icon-contrast: var(--v2-grey-100);
  --v2-icon-icon-accent: var(--v2-blue-400);
  --v2-icon-icon-accent-hover: var(--v2-blue-300);
}
